<div id="container">
  <div class="slide">
    <ul>
      <li><img class="current" src="assets/kebab1.jpg"></li>
      <li><img class="rest" src="assets/kebab2.jpg"></li>
      <li><img class="rest" src="assets/kebab3.jpg"></li>
    </ul>
  </div>
  <h1>Bienvenue sur le site du meilleur kebab de France !</h1>
  <p>Salade, tomate, oignon chef !</p>
</div>
<%= render  "/layouts/tabs" %>