.tab {
  overflow: hidden;
  border: 1px;
}
.tablinks {
  display: inline;
  border: 1px;
  padding: 14px;
  margin: 0px;
  background-color: rgb(150, 150, 150)
}
.tablinks:hover {
  background-color: rgb(120, 120, 120)
}
.tablinks.inactive {
  background-color: rgba(180, 180, 180)
}
.tabcontent {
  margin: auto;
  border: 1px;
}
