.tabconteneur {
  margin: auto;
  width: 60%;
  height: 300px;
}
#tabs {
  width: 50%;
  margin: auto;
  overflow: hidden;
}
.tabul {
  padding-left: 0px;
}
.tablinks {
  text-decoration: none;
  color: black;
  padding: 14px;
  margin: 0px;
  background-color: rgb(120, 120, 120)
}
.tablinks.inactive:hover {
  background-color: rgb(140, 140, 140)
}
.tablinks.inactive {
  background-color: rgb(180, 180, 180)
}
