// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
  text-align: center;
}
.container{
  position: relative;
  margin: auto;
}

.slide {
  position: relative;
  border: solid 1px;
  overflow: hidden;
  width: 800px;
  height: 400px;
  margin: auto;
}
.slide ul li {
  position: absolute;
  top: 0;
  left: 0;
}


ul {
  display: flex;
  list-style-type: none;
}
