<div class="tabconteneur">
  <div id="tabs">
    <ul class="tabul">
      <li><a href="javascript:void(0)" class="tablinks" id="t1">Présentation</a></li>
      <li><a href="javascript:void(0)" class="tablinks" id="t2">Menu</a></li>
      <li><a href="javascript:void(0)" class="tablinks" id="t3">Histoire</a></li>
    </ul>
  </div>
  <div class="tabcontent" id="t1c">Best kebab of the world</div>
  <div class="tabcontent" id="t2c">Kebab, Kebab, ou Kebab</div>
  <div class="tabcontent" id="t3c">Since 2018</div>
</div class="tabconteneur">