<div class="tabconteneur">
  <div id="tabs">
    <ul class="tabul">
      <li><a href="javascript:void(0)" class="tablinks" id="t1">Présentation</a></li>
      <li><a href="javascript:void(0)" class="tablinks" id="t2">Menu</a></li>
      <li><a href="javascript:void(0)" class="tablinks" id="t3">Histoire</a></li>
      <li><a href="javascript:void(0)" class="tablinks" id="t4">FAQ</a></li>
    </ul>
  </div>
  <div class="tabcontent" id="t1c">Notre kebab vous propose des sandwichs de qualité à des prix abordables. Petite ou grosse faim, vous en ressortirez toujours satisfait</div>
  <div class="tabcontent" id="t2c">Kebab standard<br><br>Kebab double viande<br><br>Kebab infarctus (tout en double et triple fromage)</div>
  <div class="tabcontent" id="t3c">Nicolas Zhao et Nicolas Culerier, après un burn-out suite à un bootcamp trop intense, ont décidé de tout plaquer et de lancer leur propre kebab pour devenir riche.</div>
  <div class="tabcontent" id="t4c">Est-ce qu'on a un service de livraison ? Et puis quoi encore !!</div>
</div class="tabconteneur">
